@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Nunito:400,300);

.space {
  display: inline-block;
  width:10px;
  color: transparent;
  margin: 0 0px;
}

textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

#playcontrol{
     margin-left: auto;
    margin-right: auto;
    
}
.hide{
  display:none;  
}
.letter {
  border-bottom: 1px solid #53bdff;
  display: inline-block;
  width:10px;
  color: transparent;
  text-align: center;
  margin: 0 2px;
  padding: 0px;
//  border: 1px solid #73AD21;
}
.nonAlphbetLetter{
  width:15px;
}
.sentence {
  font-family: "Londrina Solid", cursive;
  font-size: 20px;
  padding-left: 0px;  
  display: block;
}
.correct {
  color: #53bdff;
  text-shadow: 1px 1px 0 #20a9ff;
}
.incorrect {
  background: #ff4d4d;
  text-shadow: 1px 1px 0 red;
  color: white;
}
