@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Nunito:400,300);




body { padding-top: 0px; }



/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.space {
  display: inline-block;
  width:10px;
  color: transparent;
  margin: 0 0px;
}

#accordion{
  margin-top: 100px;
}

textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

#playcontrol{
     margin-left: auto;
    margin-right: auto;
    
}
.hide{
  display:none;  
}


.letter {
//  border-bottom: 1px solid #53bdff;
  border-bottom: 1px solid #000000;
  display: inline-block;
  width: 15px;
  color: transparent;
  text-align: center;
  margin: 0 1px;
  padding: 0px;
//  border: 1px solid #73AD21;
}
.nonAlphbetLetter{
  width:15px;
}
.sentence {
//  font-family: "Londrina Solid", cursive;
  font-size: 20px;
  padding-left: 0px;  
  display: block;
}

.normal {
  color: #000000;
//  text-shadow: 1px 1px 0 #20a9ff;
}

.correct {
  color: #53bdff;
//  text-shadow: 1px 1px 0 #20a9ff;
}
.incorrect {
  background: #ff4d4d;
//  text-shadow: 1px 1px 0 red;
  color: white;
}

@media (max-width: 767px) {
    /* CSS goes here */
  /*body { padding-top: 0px; }*/
  
  /*.center {*/
  /*  margin: auto;*/
  /*  position: absolute;*/
  /*  left: 0;*/
  /*  right: 0;*/
  /*}*/
  
  /*.triangle-down {*/
  /*  position: fixed;*/
  /*  margin-top: 0px;*/
  /*  width: 0;*/
  /*  height: 0;*/
  /*  border-left: 30px solid transparent;*/
  /*  border-right: 30px solid transparent;*/
  /*  border-top: 30px solid dodgerblue;*/
  /*}*/
  
  /*.triangle-down p {*/
  /*  text-align: center;*/
  /*  color: white;*/
  /*  margin-top: -33px;*/
  /*  margin-left: -13px;*/
  /*  transition: color .2s;*/
  /*}*/
  /*.triangle-down p:hover {*/
  /*  color: rgba(0, 0, 0, 0.4);*/
  /*}*/
  
  .navbar {
  font-size:smaller;
  margin-bottom: 0px;
  }
  .navbar-brand
  {
    font-size:15px;
    
  }
  .btn {
    font-size:smaller;
  }
  
  .progress { 
    margin-top: -20px;
    margin-bottom: 0px;
    z-index: 1;
    position:relative
    
  }

}
