<html>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
    <div class='debug'></div>
    <p> <h1>Step1: Listen carefully whole video</h1> 
        <button class='play'>play</button>
        <button class='stop'>stop</button>
    </p>
    <p> <h1>Step2: Start Dictation one by one</h1>
        <h2>try to type as much as you can, then comapre with answer</h2>
        <button class='dictstart'>Start Dictation Mode</button>
        <button class='dictstop'>Stop Dictation Mode</button>
    </p>
    <div id='dictationarea'>
        <p>
            <p id='underline_str'></p>
            <p id='solution_str'></p>
            <textarea id='inputstr' rows="4" cols="50"></textarea>
            <button id='answer'>Check Answer</button>
            <p>
            <button class='prev'>prev sentence</button>
            <button class='next'>next sentence</button>
            </p>
        </p>
    </div>
        <p> <h1>Step3: Write Quiz</h1> 
        <h2>TBD</h2>
        <button class='checkQ'>check Answer</button>
        <button class='nextQ'>next Question</button>
    </p>
      
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      var margin = 0.2;
      //var times = [['2.216','3.576'],['03.576','05.616'],['05.616','8.096'],['8.336','10.336'],['10.616','12.616'],['13.576','15.496']];
      var times = ${JSON.stringify(mytime)};
      var totalCount = ${totalCount};
  
      var currIdx = 0;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          caption: false,
          cc_load_policy:3,
          videoId: '${req.params.id}',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        //event.target.playVideo();
        //player.seekTo(getStartTime(currIdx,margin))
        $('#underline_str').text(myconvert(times[currIdx][2],$('#inputstr').val()))
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      var timer;
      var timersleep ;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          //setTimeout(repeatVideo, getDuration(currIdx,margin))
          done = true;
        }
      }
      
      function repeatAfterSec()
      {
        player.pauseVideo();
        clearTimeout(timer);
        timersleep = setTimeout(repeatVideo,1000);
      }
      function repeatVideo() {
       
        player.seekTo(getStartTime(currIdx,margin));
        player.playVideo();
        timer = setTimeout(repeatAfterSec,getDuration(currIdx,margin));
        clearTimeout(timersleep);
        $('.debug').text(currIdx+'/'+totalCount)
      }
      
      function getStartTime(index,margin)
      {
        var start = parseFloat(times[index][0])-margin
        return start>=0?start:0
      }
        
      function getEndTime(index,margin)
      {
        return parseFloat(times[index][1])+margin;
      }
      function getDuration(index,margin)
        {
          var duration = (getEndTime(index,margin)-getStartTime(index,margin))*1000;
          //console.log(duration);
          return duration;
        }

function myconvert(solution, input)
    {
    //console.log('solution:',solution)
        //console.log('input:',input)
      var marker = '+';
      //console.log(typeof solution);
      var temp = solution.replace(/[a-zA-Z]/gi,marker);
      //console.log('temp:',temp)
      var temp2 = input.replace(/[^a-zA-Z]/gi,'')
      //console.log('temp2:',temp2)
      for(var i=0; i<temp2.length; i++)
        {
          temp = temp.replace(marker,temp2[i])
        }
        //console.log('result:',temp)
      return temp;
    }
 
$(document).ready(function(){
$('#dictationarea').hide();
      $('#inputstr').keyup(function(){
        $('#underline_str').text(myconvert(times[currIdx][2],$('#inputstr').val()))
      })
  
      $('#answer').click(function(){
        $('#solution_str').text(times[currIdx][2])
      })
      $('.dictstart').click(function(){
        clearTimeout(timer);
        clearTimeout(timersleep);
        repeatVideo();
        $('#dictationarea').show();
          
      })
      $('.dictstop').click(function(){
        $('.stop').click();
        $('#dictationarea').hide();
      })
  
    $('.next').click(function(){
        currIdx=currIdx+1;
        //$('.debug').text(currIdx+'/'+totalCount)
        clearTimeout(timer);
        clearTimeout(timersleep);
        repeatVideo();
        $('#solution_str').text('');
        $('#inputstr').val('')
        $('#underline_str').text(myconvert(times[currIdx][2],$('#inputstr').val()))
    })
    
    $('.prev').click(function(){
        currIdx=currIdx-1;
        currIdx=currIdx>0?currIdx:0
        clearTimeout(timer);
        clearTimeout(timersleep);
        repeatVideo();
        $('#solution_str').text('')
        $('#inputstr').val('')
        $('#underline_str').text(myconvert(times[currIdx][2],$('#inputstr').val()))
    })
    
    $('.play').click(function(){
    
        $('.debug').text('play')
player.playVideo();
      })
  $('.stop').click(function(){
    $('#solution_str').text('')
            $('.debug').text('stop')
    clearTimeout(timer);
    clearTimeout(timersleep);
player.stopVideo();
        $('#inputstr').text('')
      })
})
    </script>
  </body>
</html>